# Previo
- Instalar MySQL Server: https://dev.mysql.com/downloads/windows/installer/8.0.html
- Instalar MySQL Workbench: https://dev.mysql.com/downloads/windows/installer/8.0.html
- Instalar e importar MySQL en Python (abajo):

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\ffer2\anaconda3\lib\site-packages (1.1.0)

In [ ]:
import pymysql

# Establecer conexión con el servidor MySQL

Proporcionar los detalles de la conexión: Nombre de usuario, contraseña, host y puerto.

In [ ]:
usuario = 'root'
pwd = 'admin'
host = 'localhost'
puerto = 3306 # El puerto por defecto de MySQL es 3306

# Inicia la conexión con el servidor
conexion = pymysql.connect(
    host=host,
    user=usuario,
    password=pwd,
    port=puerto
)

# Crea el objeto cursor para ejecutar comandos SQL
cursor = conexion.cursor()

# Crear la base de datos

In [ ]:
nombre_base_de_datos = 'aeropuerto_inventado'
cursor.execute(f"CREATE DATABASE {nombre_base_de_datos};")

1

# Confirmar las transacciones realizadas y cerrar sesión

El uso del método commit() es esencial para confirmar y guardar las transacciones en la base de datos (las modificaciones no se guardan automáticamente en la base de datos en el momento en que se realizan, sino que deben confirmarse explícitamente). Sin él, las transacciones no se completarán correctamente y los cambios no se guardarán en la base de datos de manera adecuada.

In [ ]:
conexion.commit()
conexion.close()

# Establece conexión nuevamente y crear la tabla vuelos, la cual contendrá información acerca de los vuelos del aeropuerto:

- numero_vuelo: Número de vuelo único que sirve como identificador principal (clave primaria) de la tabla.
- origen y destino: Columnas de texto (VARCHAR) para almacenar el origen y el destino del vuelo.
- fecha_salida y fecha_llegada: Columnas de tipo DATETIME para almacenar las fechas y horas de salida y llegada del vuelo.
- duracion_total_minutos: Un entero (INT) que almacena la duración total del vuelo en minutos.
- tiene_escala: Una columna BOOLEAN que indica si el vuelo tiene o no una escala.
- duracion_escala_minutos: Un entero (INT) que almacena la duración de la escala en minutos si la hay.
- compania_operadora: Una columna de texto (VARCHAR) para almacenar el nombre de la compañía que opera el vuelo.
- num_pasajeros: Un entero (INT) que representa el número de pasajeros que irán en el avión.
- num_plazas_libres: Un entero (INT) que representa el número de plazas libres en el avión.

In [ ]:
usuario = 'root'
pwd = 'admin'
host = 'localhost'
puerto = 3306
nombre_base_de_datos = 'aeropuerto_inventado'

# Establecer conexión a la base de datos
conexion = pymysql.connect(
    host=host,
    user=usuario,
    password=pwd,
    database=nombre_base_de_datos
)

# Crear un cursor para ejecutar comandos SQL
cursor = conexion.cursor()

In [ ]:
# Consulta SQL para crear la tabla de vuelos
crear_tabla_vuelos = """
CREATE TABLE IF NOT EXISTS vuelos (
    numero_vuelo INT PRIMARY KEY,
    origen VARCHAR(255),
    destino VARCHAR(255),
    fecha_salida DATETIME,
    fecha_llegada DATETIME,
    duracion_total_minutos INT,
    tiene_escala BOOLEAN,
    duracion_escala_minutos INT,
    compania_operadora VARCHAR(255),
    num_pasajeros INT,
    num_plazas_libres INT
);
"""

# Ejecutar la consulta SQL
cursor.execute(crear_tabla_vuelos)

# Confirmar la transacción y cerrar la conexión
conexion.commit()

print("Tabla de vuelos creada exitosamente.")

Tabla de vuelos creada exitosamente.

# Modifica la tabla vuelos para incluir una columna que almacene la ID del piloto y otra que indique si el vuelo es de salida o de llegada:

- Necesitamos hacer un ALTER TABLE para incluir la columna id_piloto de tipo INT y tipo_vuelo de tipo ENUM con dos opciones ('Salida' o 'Llegada').

In [ ]:
# Consulta SQL para agregar las columnas id_piloto y tipo_vuelo
alterar_tabla_vuelos = """
ALTER TABLE vuelos
ADD COLUMN id_piloto INT,
ADD COLUMN tipo_vuelo ENUM('Salida', 'Llegada');
"""

# Ejecutar la consulta SQL
cursor.execute(alterar_tabla_vuelos)

# Confirmar la transacción
conexion.commit()

# Crea la tabla pilotos con las siguientes columnas:

- ID del Piloto: Un identificador único para cada piloto (clave primaria autoincremental).
- Nombre: El nombre completo del piloto.
- Número de Licencia: El número de licencia de piloto del piloto (no se repite).
- Fecha de Nacimiento: La fecha de nacimiento del piloto.
- Nacionalidad: La nacionalidad del piloto.
- Experiencia: Número total de horas de vuelo.
- Contacto: Información de contacto del piloto.
- Fecha de Contratación: La fecha en que el piloto fue contratado por la aerolínea.
- Salario: El salario o la tarifa que se paga al piloto por sus servicios.
- Estado de Empleo: Si el piloto está actualmente empleado, en licencia o de baja.

In [ ]:
# Consulta SQL para crear la tabla de pilotos
crear_tabla_pilotos = """
CREATE TABLE IF NOT EXISTS pilotos (
    ID_Piloto INT AUTO_INCREMENT PRIMARY KEY,
    Nombre VARCHAR(255) NOT NULL,
    Numero_de_Licencia VARCHAR(255) UNIQUE NOT NULL,
    Fecha_de_Nacimiento DATE,
    Nacionalidad VARCHAR(255),
    Experiencia INT,
    Contacto VARCHAR(255),
    Fecha_de_Contratacion DATE,
    Salario DECIMAL(10, 2),
    Estado_de_Empleo ENUM('Empleado', 'Licencia', 'Baja') NOT NULL
);
"""

# Ejecutar la consulta SQL
cursor.execute(crear_tabla_pilotos)

# Confirmar la transacción
conexion.commit()

# Altera la tabla vuelos para indicar que la columna id_piloto es una clave foránea

In [ ]:
# Consulta SQL para agregar la columna id_piloto como clave foránea
agregar_fk_id_piloto = """
ALTER TABLE vuelos
ADD FOREIGN KEY (id_piloto) REFERENCES pilotos(ID_Piloto);
"""

# Ejecutar la consulta SQL
cursor.execute(agregar_fk_id_piloto)

# Confirmar la transacción
conexion.commit()

# Inserta al menos tres pilotos en la tabla pilotos:

La notación %(nombre_columna)s se utiliza en Python para definir marcadores de posición en una cadena de formato y se usa comúnmente con diccionarios para asignar valores a esos marcadores de posición. Los valores en el diccionario se asignan a los marcadores de posición en la consulta SQL, de modo que los datos se insertan correctamente en la base de datos.

In [ ]:
# Datos de los pilotos que deseas insertar
piloto1 = {
    'Nombre': 'Piloto 1',
    'Numero_de_Licencia': 'Licencia1',
    'Fecha_de_Nacimiento': '1990-01-01',
    'Nacionalidad': 'Nacionalidad1',
    'Experiencia': 5000,
    'Contacto': 'piloto1@example.com',
    'Fecha_de_Contratacion': '2023-01-15',
    'Salario': 50000.00,
    'Estado_de_Empleo': 'Empleado'
}

piloto2 = {
    'Nombre': 'Piloto 2',
    'Numero_de_Licencia': 'Licencia2',
    'Fecha_de_Nacimiento': '1985-03-15',
    'Nacionalidad': 'Nacionalidad2',
    'Experiencia': 6000,
    'Contacto': 'piloto2@example.com',
    'Fecha_de_Contratacion': '2023-02-20',
    'Salario': 55000.00,
    'Estado_de_Empleo': 'Empleado'
}

piloto3 = {
    'Nombre': 'Piloto 3',
    'Numero_de_Licencia': 'Licencia3',
    'Fecha_de_Nacimiento': '1992-07-10',
    'Nacionalidad': 'Nacionalidad3',
    'Experiencia': 4500,
    'Contacto': 'piloto3@example.com',
    'Fecha_de_Contratacion': '2023-03-25',
    'Salario': 48000.00,
    'Estado_de_Empleo': 'Empleado'
}

# Consulta SQL para insertar pilotos
insertar_piloto = """
INSERT INTO pilotos (Nombre, Numero_de_Licencia, Fecha_de_Nacimiento, Nacionalidad, Experiencia, Contacto,
                    Fecha_de_Contratacion, Salario, Estado_de_Empleo)
VALUES (%(Nombre)s, %(Numero_de_Licencia)s, %(Fecha_de_Nacimiento)s, %(Nacionalidad)s, %(Experiencia)s,
        %(Contacto)s, %(Fecha_de_Contratacion)s, %(Salario)s, %(Estado_de_Empleo)s);
"""

# Insertar los pilotos uno por uno
cursor.execute(insertar_piloto, piloto1)
cursor.execute(insertar_piloto, piloto2)
cursor.execute(insertar_piloto, piloto3)

# Confirmar la transacción
conexion.commit()

print("Los pilotos han sido insertados exitosamente en la tabla pilotos.")

Los pilotos han sido insertados exitosamente en la tabla pilotos.

# Inserta al menos tres vuelos en la tabla vuelos (executemany) y posteriormente muestra la tabla vuelos por pantalla

In [ ]:
# Datos de los vuelos que deseas insertar
vuelo1 = {
    'numero_vuelo': 1,
    'origen': 'Ciudad A',
    'destino': 'Ciudad B',
    'fecha_salida': '2023-10-10 08:00:00',
    'fecha_llegada': '2023-10-10 10:00:00',
    'duracion_total_minutos': 120,
    'tiene_escala': False,
    'duracion_escala_minutos': None,
    'compania_operadora': 'Compañía X',
    'num_pasajeros': 100,
    'num_plazas_libres': 50,
    'id_piloto': 1  # Reemplaza con el ID de un piloto existente en la tabla pilotos
}

vuelo2 = {
    'numero_vuelo': 2,
    'origen': 'Ciudad B',
    'destino': 'Ciudad C',
    'fecha_salida': '2023-10-11 09:00:00',
    'fecha_llegada': '2023-10-11 11:30:00',
    'duracion_total_minutos': 150,
    'tiene_escala': True,
    'duracion_escala_minutos': 60,
    'compania_operadora': 'Compañía Y',
    'num_pasajeros': 120,
    'num_plazas_libres': 30,
    'id_piloto': 2
}

vuelo3 = {
    'numero_vuelo': 3,
    'origen': 'Ciudad C',
    'destino': 'Ciudad A',
    'fecha_salida': '2023-10-12 14:00:00',
    'fecha_llegada': '2023-10-12 16:30:00',
    'duracion_total_minutos': 150,
    'tiene_escala': False,
    'duracion_escala_minutos': None,
    'compania_operadora': 'Compañía Z',
    'num_pasajeros': 80,
    'num_plazas_libres': 70,
    'id_piloto': 1
}

# Lista de vuelos a insertar
vuelos_a_insertar = [vuelo1, vuelo2, vuelo3]

# Consultas SQL para insertar los vuelos
insertar_vuelo = """
INSERT INTO vuelos (numero_vuelo, origen, destino, fecha_salida, fecha_llegada, duracion_total_minutos,
                    tiene_escala, duracion_escala_minutos, compania_operadora, num_pasajeros, num_plazas_libres, id_piloto)
VALUES (%(numero_vuelo)s, %(origen)s, %(destino)s, %(fecha_salida)s, %(fecha_llegada)s, %(duracion_total_minutos)s,
        %(tiene_escala)s, %(duracion_escala_minutos)s, %(compania_operadora)s, %(num_pasajeros)s, %(num_plazas_libres)s, %(id_piloto)s);
"""

# Insertar múltiples vuelos utilizando executemany
cursor.executemany(insertar_vuelo, vuelos_a_insertar)

# Confirmar la transacción
conexion.commit()

print("Los vuelos han sido insertados exitosamente en la tabla vuelos.")

Los vuelos han sido insertados exitosamente en la tabla vuelos.

In [ ]:
# Consulta SQL para seleccionar todos los vuelos
seleccionar_vuelos = "SELECT * FROM vuelos"

# Ejecutar la consulta SQL
cursor.execute(seleccionar_vuelos)

# Obtener todos los registros de la consulta
registros = cursor.fetchall()

# Imprimir los registros por pantalla
for registro in registros:
    print(registro)

(1, 'Ciudad A', 'Ciudad B', datetime.datetime(2023, 10, 10, 8, 0), datetime.datetime(2023, 10, 10, 10, 0), 120, 0, None, 'Compañía X', 100, 50, 1, None)
(2, 'Ciudad B', 'Ciudad C', datetime.datetime(2023, 10, 11, 9, 0), datetime.datetime(2023, 10, 11, 11, 30), 150, 1, 60, 'Compañía Y', 120, 30, 2, None)
(3, 'Ciudad C', 'Ciudad A', datetime.datetime(2023, 10, 12, 14, 0), datetime.datetime(2023, 10, 12, 16, 30), 150, 0, None, 'Compañía Z', 80, 70, 1, None)

# Dado que olvidamos añadir el tipo de vuelo debemos actualizar los datos para esa columna de la tabla vuelos (asumiremos que todos los vuelos son de salida)

In [ ]:
# Consulta SQL para actualizar el tipo de vuelo para cada vuelo
actualizar_tipo_de_vuelo = """
UPDATE vuelos
SET tipo_vuelo = 'Salida';
"""

# Ejecutar la consulta SQL de actualización
cursor.execute(actualizar_tipo_de_vuelo)

3

# Muestra la duración media de los vuelos operados por el piloto 1

In [ ]:
# Consulta SQL para calcular la duración media de los vuelos operados por el piloto 1
consulta_duracion_media = """
SELECT AVG(duracion_total_minutos)
FROM vuelos
WHERE id_piloto = 1;
"""

# Ejecutar la consulta SQL
cursor.execute(consulta_duracion_media)

# Obtener el resultado de la consulta
cursor.fetchone()[0]

Decimal('135.0000')

# Elimina al piloto 3 de la tabla pilotos

In [ ]:
# ID del piloto que deseas eliminar
id_piloto_a_eliminar = 3

# Consulta SQL para eliminar el piloto
eliminar_piloto = """
DELETE FROM pilotos
WHERE ID_Piloto = %s;
"""

# Ejecutar la consulta SQL de eliminación
cursor.execute(eliminar_piloto, (id_piloto_a_eliminar,))

# Confirmar la transacción
conexion.commit()

# Muestra los identificadores de los vuelos junto a toda la información de sus pilotos (usa join)

In [ ]:
# Consulta SQL para obtener los identificadores de vuelos y la información de los pilotos usando JOIN
consulta_join = """
SELECT vuelos.numero_vuelo, pilotos.*
FROM vuelos
INNER JOIN pilotos ON vuelos.id_piloto = pilotos.ID_Piloto;
"""

# Ejecutar la consulta SQL con JOIN
cursor.execute(consulta_join)

# Obtener los resultados de la consulta
resultados = cursor.fetchall()

# Mostrar los resultados por pantalla
for fila in resultados:
    print(f"ID de Vuelo: {fila[0]}")
    print(f"Información del Piloto:")
    print(f"  ID del Piloto: {fila[1]}")
    print(f"  Nombre: {fila[2]}")
    print(f"  Número de Licencia: {fila[3]}")
    print(f"  Fecha de Nacimiento: {fila[4]}")
    print(f"  Nacionalidad: {fila[5]}")
    print(f"  Experiencia: {fila[6]}")
    print(f"  Contacto: {fila[7]}")
    print(f"  Fecha de Contratación: {fila[8]}")
    print(f"  Salario: {fila[9]}")
    print(f"  Estado de Empleo: {fila[10]}")
    print("-" * 40)

ID de Vuelo: 1
Información del Piloto:
  ID del Piloto: 1
  Nombre: Piloto 1
  Número de Licencia: Licencia1
  Fecha de Nacimiento: 1990-01-01
  Nacionalidad: Nacionalidad1
  Experiencia: 5000
  Contacto: piloto1@example.com
  Fecha de Contratación: 2023-01-15
  Salario: 50000.00
  Estado de Empleo: Empleado
----------------------------------------
ID de Vuelo: 3
Información del Piloto:
  ID del Piloto: 1
  Nombre: Piloto 1
  Número de Licencia: Licencia1
  Fecha de Nacimiento: 1990-01-01
  Nacionalidad: Nacionalidad1
  Experiencia: 5000
  Contacto: piloto1@example.com
  Fecha de Contratación: 2023-01-15
  Salario: 50000.00
  Estado de Empleo: Empleado
----------------------------------------
ID de Vuelo: 2
Información del Piloto:
  ID del Piloto: 2
  Nombre: Piloto 2
  Número de Licencia: Licencia2
  Fecha de Nacimiento: 1985-03-15
  Nacionalidad: Nacionalidad2
  Experiencia: 6000
  Contacto: piloto2@example.com
  Fecha de Contratación: 2023-02-20
  Salario: 55000.00
  Estado de Empleo: Empleado
----------------------------------------

# Elimina la columna Nacionalidad de la tabla pilotos

In [ ]:
# Consulta SQL para eliminar la columna Nacionalidad de la tabla pilotos
eliminar_columna_nacionalidad = """
ALTER TABLE pilotos
DROP COLUMN Nacionalidad;
"""

# Ejecutar la consulta SQL para eliminar la columna
cursor.execute(eliminar_columna_nacionalidad)

# Confirmar la transacción
conexion.commit()

# Crea un dataframe de pandas y almacénalo como una tabla dentro de la base de datos

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Crear un DataFrame de pandas
data = {
    'ID_Piloto': [1, 2, 3],
    'Nombre': ['Piloto 1', 'Piloto 2', 'Piloto 3'],
    'Numero_de_Licencia': ['Licencia1', 'Licencia2', 'Licencia3'],
    'Fecha_de_Nacimiento': ['1990-01-01', '1985-03-15', '1995-07-10'],
}

df = pd.DataFrame(data)

# Utilizar SQLAlchemy para crear un motor de conexión
engine = create_engine(f"mysql+pymysql://{usuario}:{pwd}@{host}/{nombre_base_de_datos}")

# Insertar el DataFrame en la base de datos como una tabla llamada 'nueva_tabla_pilotos'
df.to_sql('nueva_tabla_pilotos', con=engine, if_exists='replace', index=False)

# Confirmar la transacción
conexion.commit()

# Cerrar la conexión
conexion.close()

print("El DataFrame ha sido almacenado como una nueva tabla en la base de datos.")

El DataFrame ha sido almacenado como una nueva tabla en la base de datos.

Hemos visto:

-CREATE

-ALTER

-DROP

-SELECT

-INSERT

-UPDATE

-DELETE

-COMMIT

-JOIN

-AVG

-td_sql